<footer>
  <link rel="stylesheet" href="/styles/footer.css" />
  <div class="footer-flex">
    <div class="links-contacts">
      <img src="/images/logo nobg.png" alt="logo" />
      <a href="tel:+254721176511">
        <ion-icon name="call-outline"></ion-icon>
        <span>Phone: +254721176511</span>
      </a>
      <a href="mailto:info@mymint.co.ke">
        <ion-icon name="mail-outline"></ion-icon>
        <span>info@mymint.co.ke</span>
      </a>
    </div>
    <div class="links">
      <a href="/about">About Us</a>
      <a href="#">Contact Us</a>
      <a href="#">Help & Support</a>
      <a href="#">Privacy</a>
    </div>

    <div class="socials">
      <a href="#">
        <ion-icon name="logo-facebook"></ion-icon>
      </a>
      <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
      <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
    </div>
  </div>

  <p class="sign-off">
    All rights reserved &copy; <%= new Date().getFullYear() %>. MyMint
  </p>
</footer>

<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
