<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help & Support</title>
    <link rel="stylesheet" href="/styles/support.css" />
  </head>
  <body>
    <%- include("_nav.ejs") %>
    <div class="intro">
      <h1>Help & Support</h1>
      <p>
        Welcome to the Help & Support Center for MyMint! We're here to help you
        manage your finances with ease.
      </p>
    </div>
    <hr />

    <div class="started">
      <h2>Getting Started</h2>
      <ul>
        <li>
          <strong>Creating an Account:</strong> Follow our step-by-step guide
          with screenshots to create your account and get started with
          budgeting. [Link to Guide]
        </li>
        <li>
          <strong>Setting Up a Budget:</strong> Our guide walks you through
          creating a realistic budget that aligns with your financial goals.
          [Link to Guide]
        </li>
      </ul>
    </div>
    <hr />
    <div class="using-features">
      <h2>Using Features</h2>
      <ul>
        <li>
          <strong>Adding Transactions:</strong> Find out how to manually add
          transactions for cash, checks, or any income/expense not automatically
          imported. [Link to Guide] or [Video Tutorial]
        </li>
        <li>
          <strong>Categorizing Transactions:</strong> We explain how to
          categorize your transactions for accurate expense tracking and
          insightful reports. [Link to Guide]
        </li>
        <li>
          <strong>Setting Financial Goals:</strong> Dive into our guide on
          setting achievable financial goals and tracking your progress within
          the app. [Link to Guide]
        </li>
        <li>
          <strong>Generating Reports:</strong> Learn how to generate reports
          that visualize your spending habits and help you make informed
          financial decisions. [Link to Guide]
        </li>
      </ul>
    </div>
    <hr />
    <div class="privacy">
      <h2>Security & Privacy</h2>
      <ul>
        <li>
          <strong>Data Security:</strong> We prioritize your data security.
          Learn how we use industry-standard encryption and secure login
          protocols to protect your information. [Link to Security Practices]
        </li>
        <li>
          <strong>Privacy Policy:</strong> Review our detailed privacy policy
          which outlines how we collect and use your data. [Link to Privacy
          Policy]
        </li>
      </ul>
    </div>
    <hr />

    <div class="troubleshooting">
      <h2>Troubleshooting</h2>
      <ul>
        <li>
          <strong>Having Connection Issues?:</strong> Check out our
          troubleshooting guide for solutions to common connection errors with
          banks. [Link to Guide]
        </li>
        <li>
          <strong>Missing Transactions?:</strong> Our guide explains what to do
          if you're missing transactions from your connected accounts. [Link to
          Guide]
        </li>
        <li>
          <strong>FAQ:</strong> Browse our list of Frequently Asked Questions
          (FAQ) to find answers to common user inquiries.
          <a href="/faqs">Click here!</a>
        </li>
      </ul>
    </div>

    <hr />

    <div class="billing">
      <h2>Billing & Subscription</h2>
      <ul>
        <li>
          <strong>Subscription Plans:</strong> We offer a free plan with basic
          features.
        </li>

        <li>
          <strong>Cancelling Your Subscription:</strong> Need to cancel your
          subscription? Follow our simple guide for cancellation steps. [Link to
          Guide]
        </li>
      </ul>
    </div>
    <div class="need-help">
      <h2>Still Need Help?</h2>
      <p>
        If you can't find the answer to your question here, feel free to contact
        our support team! We offer support through email at
        <span>info@mymint.co.ke</span>
      </p>
    </div>
    <hr />
    <p class="closing">
      By providing clear instructions, helpful resources, and multiple avenues
      for support, we aim to empower you to take control of your finances with
      confidence!
    </p>

    <%- include("footer.ejs") %>
  </body>
</html>
